div.framework h3 {
    margin: 3px;
}
table.matrix td.hide, table.matrix th.hide {
    display: none;
}
table.matrix {
    border: 1px solid #bbb;
    border-collapse: collapse;
    box-shadow: 2px 2px 4px 1px grey;
    margin-left: 3px;
    margin-right: 3px;
    max-height: 98%;
}
table.matrix thead {
    display: block;
}
table.matrix tbody {
    display: block;
    z-index: -1;
    max-height: 500px;
    overflow-y: scroll;
}
table.matrix tr th, table.matrix tr td {
    border: 1px solid #bbb;
    background-color: white;
    padding: 1px 2px 1px 2px;

}
table.matrix tr th {
    vertical-align: top;
}
table.matrix tbody tr:hover > td.testname {
    background-color: #ddd;
}
table.matrix td.testname, table.matrix th.testname {
    min-width: 25em;
    max-width: 25em;
}
table.matrix td.testid, table.matrix th.testid {
    min-width: 2.5em;
}
table.matrix td.testid a {
    color: black;
    font-size: 125%;
    font-family: monospace;
}
table.matrix tbody tr:hover > td.result {
    color: #ddd;
}
table.matrix thead td.result {
    min-width: 3em;
    max-width: 3em;
}
table.matrix tbody td.result {
    min-width: 3em;
    max-width: 3em;
    overflow-x: hidden;
}
table.matrix td.result a {
    display: block;
    text-decoration: none;
}
a.invisible {
    background-color: inherit !important;
}
a.invisible:hover {
    background-color: inherit !important;
}
/*
table.matrix td.result a.invisible {
    background-color: none;
}
table.matrix tr:hover td.result a.invisible {
    background-color: none;
}
*/
table.matrix thead tr.overview td {
    white-space: nowrap;
}

.color_ok, table.matrix tbody td.color_ok {
    background-color: #88ddcc;
    color: #88ddcc;
}
.color_json_ok, table.matrix tbody td.color_json_ok {
    background-color: #e8ff08;
    color: #e8ff08;
}
.color_diff, table.matrix tbody td.color_diff {
    background-color: #ffa500;
    color: #ffa500;
}
.color_json_diff, table.matrix tbody td.color_json_diff {
    background-color: #ffa500;
    color: #ffa500;
}
.color_na, table.matrix tbody td.color_na {
    background-color: #dadada;
    color: #dadada;
}
.color_error, table.matrix tbody td.color_error {
    background-color: #ff5858;
    color: #ff5858;
}
.color_invalid_correct {
    background-color: #88aaff;
    color: #0099dd;
}
.color_invalid_incorrect {
    background-color: #ff5858;
    color: #ff5858;
}

table.matrix tr td:target {
    background-color: yellow;
}
table.matrix tr.headline td {
    background-color: #ddd;
    text-align: center;
}

td.percentage span.bar_left {
    border-radius: 3px 0px 0px 3px;
    border-top: 1px solid gray;
    border-left: 1px solid gray;
    border-bottom: 1px solid gray;
}
td.percentage span.bar_middle {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}
td.percentage span.bar_right {
    border-radius: 0px 3px 3px 0px;
    border-top: 1px solid gray;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
}

span.status_box {
    width:  10px;
    height: 10px;
    vertical-align: middle;
    display: inline-block;
    border-radius: 3px;
    border: 1px solid gray;
    padding: 0px;
    margin: 0px 3px 0px 0px;
}

span.overview_status {
    display: inline-block;
    height: 14px;
    vertical-align: middle;
    padding: 0px;
    margin: 0px 0px 0px 0px;
}

pre {
    border: 1px solid #ccc;
}

div.code {
    float: left;
    border: 1px solid black;
    box-shadow: 2px 2px 4px 1px grey;
    margin: 5px;
    padding: 3px;
}

div.framework {
    border: 1px solid #888;
    background-color: #f8f8f8;
    border-radius: 4px;
    float: left;
    margin: 5px;
    padding: 5px;
    min-width: 10%;
    max-width: 250px;
    min-height: 10em;
    max-height: 400px;
    overflow-x: auto;
    overflow-y: auto;
}
div.framework:target, div.framework:hover {
    border: 4px solid #ff9922;
    margin: 2px;
}
div.framework_box_ok {
    min-width: 5em;
    max-width: 13em;
    min-height: 3em;
    max-height: 3em;
}
div.framework_box_json_ok {
    min-width: 5em;
    max-width: 13em;
    min-height: 3em;
    max-height: 3em;
}
div.framework_box_diff {
    min-width: 15em;
    max-width: 15em;
    min-height: 15em;
    max-height: 15em;
}
div.framework_box_json_diff {
    min-width: 15em;
    max-width: 15em;
    min-height: 15em;
    max-height: 15em;
}
div.framework_box_error {
    min-width: 20em;
    max-width: 20em;
    min-height: 20em;
    max-height: 20em;
}
div.framework_box_na {
    min-width: 20em;
    max-width: 20em;
    min-height: 20em;
    max-height: 20em;
}
span.diff_line {
    background-color: #ff9922;
}

div.selector {
    float: left;
    display: block;
}

#github {
    float: right;
    margin:  5px;
    padding: 5px 10px 5px 10px;
    background-color: #c0ffee; /* for ingy */
    box-shadow: 2px 2px 4px 1px grey;
    border-radius: 5px;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}
#github span.link span.info {
    display: none;
    position: absolute;
    margin-left: 10px;
    background-color: white;
    border: 1px solid #333;
    padding: 3px;
}
#github span.link:hover span.info {
    display: inline;
}

#framework-info table.framework-list {
    border: 1px solid #bbb;
    border-collapse: collapse;
    box-shadow: 2px 2px 4px 1px grey;
    margin: 5px;
}
#framework-info table.framework-list tr th,
    #framework-info table.framework-list tr td {
    border: 1px solid #ccc;
    background-color: white;
    padding: 2px 4px 2px 4px;
}
#framework-info table.framework-list tr th {
    font-weight: bold;
    text-align: left;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}
#framework-info table.framework-list tr td.number {
    text-align: right;
    font-family: monospace;
}
#framework-info table.framework-list tr:hover > td,
    #framework-info table.framework-list tr:hover > th {
    background-color: #ddd;
}

div.content {
    background-color: white;
    margin: 5px;
    padding: 5px;
    border: 1px solid #eee;
}
