<!DOCTYPE html>
<html lang="en">
<head>
<meta charset='utf-8'>
<link rel="stylesheet" type="text/css" href="css/matrix.css">
</head>
<body>

<h1>yaml-test-suite Framework Matrix (<a href="https://github.com/yaml/yaml-test-suite">Github</a>)</h1>

<table class="matrix">
<thead>
<tr><th>Frameworks<br>Tests</th>
[%loop .framework_names %]
<th>[%= lang %]<br>[%= name %]<br>[%= type %]</th>
[%/loop %]
</tr>

<tr class="overview">
<td></td>
[%loop .framework_headers %]
<td>
[%if ok %]<span class="ok">&nbsp;</span>ok: [%= ok %][%/if %]
[%if json_ok %]<span class="json_ok">&nbsp;</span>json_ok: [%= json_ok %][%/if %]
<br>
[%if diff %]<span class="diff">&nbsp;</span>diff: [%= diff %][%/if %]
[%if json_diff %]<span class="json_diff">&nbsp;</span>json_diff: [%= json_diff %][%/if %]
<br>
[%if na %]<span class="na">&nbsp;</span>n/a: [%= na %][%/if %]
<br>
[%if error %]<span class="error">&nbsp;</span>error: [%= error %][%/if %]
<br>
</td>
[%/loop %]
</tr>
</thead>

<tbody>
</tr>
[%loop .tests break="20" %]
[%if __break__ %]<tr class="headline"><td></td>
[%loop .framework_names %]
<td>[%= lang %]<br>[%= name %]<br>[%= type %]</td>
[%/loop %]
</tr>[%/if %]
<tr>
<td id="[%= id %]" class="testname"><tt><a href="#[%= id %]">#</tt></a>
<a href="details-[%= id %].html"><tt>[%= id %]</tt> -
[%= title %]</a></td>
[%loop frameworks %]
<td class="result
[%if ok %]ok[%elsif error %]error[%elsif json_ok %]json_ok[%elsif diff
%]diff[%elsif json_diff %]json_diff[%elsif na %]na[%/if %]
">
[%if ok %]ok[%elsif error %]error[%elsif json_ok %]json_ok[%elsif diff
%]diff[%elsif json_diff %]json_diff[%elsif na %]n/a[%/if %]

</td>
[%/loop frameworks %]
</tr>
[%/loop .tests %]
</tbody>
</table>

</body>
</html>

