div.framework h3 {
    margin: 3px;
}
table.matrix {
    border: 1px solid #bbb;
    border-collapse: collapse;
    box-shadow: 2px 2px 4px 1px grey;
}
table.matrix tr th, td {
    border: 1px solid #bbb;
    background-color: white;
    padding: 1px 2px 1px 2px;

}
table.matrix tr th {
    vertical-align: top;
}
table.matrix tbody tr:hover > td.testname {
    background-color: #ddd;
}
table.matrix tbody tr > td.testname {
}
table.matrix tbody tr:hover > td.result {
    color: #444;
}
table.matrix td.result a {
    display: block;
    text-decoration: none;
}
table.matrix tr:hover td.result a {
    color: #444;
}
table.matrix thead tr.overview td {
    white-space: nowrap;
}

table.matrix tr td.ok, span.ok, table.matrix td.ok a {
    background-color: lightgreen;
    color: lightgreen;
}
table.matrix tr td.json_ok, span.json_ok, table.matrix td.json_ok a {
    background-color: #e8e811;
    color: #e8e811;
}
table.matrix tr td.diff, span.diff, table.matrix td.diff a {
    background-color: #ff9922;
    color: #ff9922;
}
table.matrix tr td.json_diff, span.json_diff, table.matrix td.json_diff a {
    background-color: #ff9922;
    color: #ff9922;
}
table.matrix tr td.na, span.na, table.matrix td.na a {
    background-color: #ddd;
    color: #ddd;
}
table.matrix tr td.error, span.error, table.matrix td.error a {
    background-color: #ff5858;
    color: #ff5858;
}

table.matrix tr td:target {
    background-color: yellow;
}
table.matrix tr.headline td {
    background-color: #ddd;
    text-align: center;
    border-top: 2px solid gray;
}

span.ok, span.json_ok, span.json_diff, span.diff, span.na, span.error {
    width:  10px;
    height: 10px;
    vertical-align: middle;
    display: inline-block;
    border-radius: 3px;
    border: 1px solid gray;
    padding: 0px;
    margin: 0px 3px 0px 0px;
}

pre {
    border: 1px solid #ccc;
}

div.code {
    float: left;
    border: 1px solid black;
    box-shadow: 2px 2px 4px 1px grey;
    margin: 5px;
    padding: 3px;
}

div.framework {
    border: 1px solid #888;
    background-color: #f8f8f8;
    border-radius: 4px;
    float: left;
    margin: 5px;
    padding: 5px;
    min-width: 10%;
    max-width: 250px;
    min-height: 10em;
    max-height: 400px;
    overflow-x: auto;
    overflow-y: auto;
}
div.framework:target, div.framework:hover {
    border: 4px solid #ff9922;
    margin: 2px;
}
